name: Deploy to AWS EC2

on:
  push:
    branches:
      - main # Faqat main branchga push bo'lganda ishlaydi

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ec2test  # Loyihangiz papkasiga o'ting
            git pull origin main
            npm install
            pm2 restart my-api || pm2 start index.js --name "my-api"
